.main-container {
    padding: 50px 0;

    .content-container {
        width: 1200px;
        margin: 0 auto;

        .header {
            width: 100%;
            margin-bottom: 50px;

            .logo-img {
                width: 600px;
                display: block;
                margin: auto;
            }
        }

        .title-container {
            background: #EE5B21;
            color: white;
            height: 40px;

            .title {
                font-family: Arial;
                font-size: 16px;
                font-weight: 600;
                line-height: 2.5;
                padding-left: 8px;
            }
        }

        .chart-container {
            border: 2px solid #EE5B21;
            border-radius: 6px;
            margin-bottom: 30px;

            .chart {
                padding-top: 16px;
            }

            .lag-container {
                display: flex;
            }
        }
    }
}
