<div class="main-container">
    <div class="content-container">

    <div class="header">
        <img class="logo-img" src="assets/logo2.png">
    </div>

    <div class="chart-container">
        <div class="title-container">
            <span class="title">Lag Metrics</span>
        </div>

      <div class="lag-container">
          <lag-chart class="chart"></lag-chart>
          <lag-gauge class="chart"></lag-gauge>
      </div>
    </div>

    <div class="chart-container">
        <div class="title-container">
            <span class="title">Input Throughput Metrics (rps)</span>
        </div>
        <throughput-chart class="chart"></throughput-chart>
    </div>

    <div class="chart-container">
        <div class="title-container">
            <span class="title">Output Batch Count Metrics (batches/sec)</span>
        </div>
        <batch-count-chart class="chart"></batch-count-chart>
    </div>

        <last-seen-table></last-seen-table>

    </div>
</div>

